.cb-joblist,
.cb-joblist:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0px;
    z-index: 0; 
}
.cb-joblist:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}
.cb-joblist li { 

}
.cb-joblist li div { 
    color:green;
    color: #fff;
}
.cb-joblist li.failed div h3{
    color:red;
}
.cb-joblist li div h3 { 
    font-size: 60px;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-joblist li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    /*.cb-joblist li div h3 { font-size: 40px }*/
}
@media screen and (max-width: 600px) { 
    /*.cb-joblist li div h3 { font-size: 80px }*/
}