body {
background:#000;
font-family:"Source Sans Pro";
color:#fff;
overflow:hidden;
width:100%;
height:100%
}

body .bespoke-parent {
background:#111
}

body .bespoke-slide {
-webkit-box-align:center;
-moz-box-align:center;
-ms-box-align:center;
box-align:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-box-pack:center;
box-pack:center;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
font-size:9em
}

body section.failed {
color:red
}

body section.success {
color:green
}

body section {
	float: none;
	clear: both;
}

body section .content > div{
	float: left;
	margin-left: 20px;
	font-size: 40px;
}

body section .content div.title {
}

body section .content div.status {
}

body section .content div.score {
	float: right;
}

body section .content {
padding:1em;
word-break:break-word;
text-shadow: 1px 0 #000;
}

body section .underline {
border-bottom:.1em solid #fff
}

body section .strikethrough {
text-decoration:line-through;
color:#999
}

body section .classy {
font-family:Baskerville;
font-style:italic
}

body section .code {
font-family:"Source Code Pro";
font-size:.8125em;
font-weight:700;
color:#0cf
}